# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [6]:
print("Data", "Science", "Mentorship", "Program",
"By", "CampusX", sep = "-")

Data-Science-Mentorship-Program-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [8]:
# Write your code here
cel = float(input("enter celcius value you want to convert : "))
farh = (9/5) * cel + 32
print (float(farh))

enter celcius value you want to convert : 32
89.6

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [9]:
# Write your code here
a = int(input("enter first number : "))
b = int(input("enter second number : "))
print("the first number is {}, and 2nd is {}".format(a, b))
temp = 0
temp = a
a = b
b = temp
print("after swapping the first number is {}, and 2nd number is {}". format(a, b))

enter first number : 2
enter second number : 3
the first number is 2, and 2nd is 3
after swapping the first number is 3, and 2nd number is 2

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [10]:
# Write your code here
x1 = int(input("enter first co-ordinate of x axis : "))
x2 = int(input("enter second co-ordinate of x axis : "))
y1 = int(input("enter first co-ordinate of y axis : "))
y2 = int(input("enter second co-ordinate of y axis : "))
d = (x2 - x1)** 2 + (y2 - y1)**2
print(float(d))

enter first co-ordinate of x axis : 2
enter second co-ordinate of x axis : 4
enter first co-ordinate of y axis : 7
enter second co-ordinate of y axis : 6
5.0

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [11]:
# Write your code here
p = float(input("enter the value of principle : "))
roi = float(input("enter the value of rate of interest : "))
tp = float(input("enter time period : "))
si = p *roi * tp / 100
print(float(si))

enter the value of principle : 8000
enter the value of rate of interest : 6
enter time period : 15
7200.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [ ]:
# Write your code here
heads = int(input("enter the heads : "))
legs = int(input("enter the legs : "))
result =

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [12]:
# Write your code here
n = int(input("enter n : "))
result = (n * (n+1) * (2*n+1)/6)
print(result)

enter n : 5
55.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [14]:
first_term = int(input("enter first term : "))
second_term = int(input("enter second term : "))
n = int(input("enter the value of n : "))
d = second_term - first_term
result = first_term + (n - 1) * d
print(result)

enter first term : 3
enter second term : 6
enter the value of n : 5
15

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [17]:
# Write your code here
num1 = int(input("enter num1 : "))
den1 = int(input("enter den : "))
num2 = int(input("enter num2 : "))
den2 = int(input("enter num2 : "))
upper = num1 * den2 + num2 * den1
lower = den1 + den2
print("{}/{}".format(upper, lower))

enter num1 : 3
enter den : 3
enter num2 : 4
enter num2 : 4
24/7

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [ ]:
# Write your code here
# Write your code here
import math

h_t = float(input('height'))
b_t = float(input('breadth'))
l_t = float(input('length'))

h_g = float(input('height of glass'))
r_g = float(input('radius of the glass'))

vol_tank = h_t*b_t*l_t
vol_glass = 3.14*r_g*r_g*h_g

print('no of glasses',math.floor(vol_tank/vol_glass))